In [2]:
import pandas as pd
import numpy as np
import json

In [25]:
df = pd.read_csv('picks_bans_2003.csv')
df = df.drop(df.columns[0], axis=1)
df = df.drop(df.columns[-1], axis=1)

<bound method NDFrame.head of         is_pick  hero_id  team  order  ord    match_id
0         False    100.0   1.0    0.0  0.0  6947055162
1         False     44.0   0.0    1.0  1.0  6947055162
2         False     19.0   1.0    2.0  2.0  6947055162
3         False    120.0   0.0    3.0  3.0  6947055162
4          True     31.0   1.0    4.0  4.0  6947055162
...         ...      ...   ...    ...  ...         ...
710409    False     25.0   0.0   19.0  NaN  7515605198
710410    False     93.0   0.0   20.0  NaN  7515605198
710411    False    112.0   1.0   21.0  NaN  7515605198
710412     True    109.0   1.0   22.0  NaN  7515605198
710413     True     59.0   0.0   23.0  NaN  7515605198

[710414 rows x 6 columns]>

In [26]:
df

        is_pick  hero_id  team  order  ord    match_id
0         False    100.0   1.0    0.0  0.0  6947055162
1         False     44.0   0.0    1.0  1.0  6947055162
2         False     19.0   1.0    2.0  2.0  6947055162
3         False    120.0   0.0    3.0  3.0  6947055162
4          True     31.0   1.0    4.0  4.0  6947055162
...         ...      ...   ...    ...  ...         ...
710409    False     25.0   0.0   19.0  NaN  7515605198
710410    False     93.0   0.0   20.0  NaN  7515605198
710411    False    112.0   1.0   21.0  NaN  7515605198
710412     True    109.0   1.0   22.0  NaN  7515605198
710413     True     59.0   0.0   23.0  NaN  7515605198

[710414 rows x 6 columns]